//COLORS
$color-black: #12141d;
$color-green-light: #38f094;
$color-coral: #ff715b;
$color-coral-light: #ffb8ad;

$color-white: #fff;

$color-grey-dark: #3a3c45;
$color-grey-1: #697077;
$color-grey-2: #8b929a;
$color-grey-light-1: #d4dae1;
$color-grey-light-2: #eff0f2;
$color-grey-light-3: #f7f8f9;

$color-green-dark: #12af6d;
$color-red: #ff2200;
$color-orange: #fb4f34;
$color-orange-light: #f09a1a;

$instagram-logo-border-gradient-color-1: #de0046;
$instagram-logo-border-gradient-color-2: #f7a34b;

$calendar-basic-event-header-color: #697077;
$this-user-message-border-color: #d5dae0;
$color-blue: #2d70b2;
$color_violet: #4169d1;
$color-violet-light: #ecf1ff;

//SCROLLBAR

$scrollbar-thumb-background-color: #babac0;
$scrollbar-track-hover-color: #f4f4f4;
$scrollbar-thumb-background-hover-color: #a0a0a5;
$scrollbar-thumb-border-hover-color: #f4f4f4;
